#createProductFormImage {
  width: 100%;
  overflow: auto;
}

#createProductFormImage > img {
  width: 3vmax;
  margin: 0 0.5vmax;
}
.sizesContainer {
}
.multiSelect {
  color: black;
}
.multiSelect > input {
  background-color: black;
}
